<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<title>Customers List</title>
</head>

<body>
	 <div class="container-fluid mt-2">
		<div th:replace="~{fragments/adminHeader :: header(customers)}"></div>
		<div class="table-container" style="height:82vh;margin-top:150px;overflow-x: auto;
        white-space: nowrap;">
			<table class="table table-striped table-hover" style="min-width: 800px;">
				<thead>
					<tr>
						<th style="position: sticky; top: 0;" scope="col">Customer Id</th>
						<th style="position: sticky; top: 0;" scope="col">Name</th>
						<th style="position: sticky; top: 0;" scope="col">Account Number</th>
						<th style="position: sticky; top: 0;" scope="col">Date of Birth</th>
						<th style="position: sticky; top: 0;" scope="col">Gender</th>
						<th style="position: sticky; top: 0;" scope="col">Email</th>
						<th style="position: sticky; top: 0;" scope="col">Mobile</th>
						<th style="position: sticky; top: 0;" scope="col">SIN</th>
						<th style="position: sticky; top: 0;" scope="col">Street Address</th>
						<th style="position: sticky; top: 0;" scope="col">City</th>
						<th style="position: sticky; top: 0;" scope="col">Province</th>
						<th style="position: sticky; top: 0;" scope="col">Zip Code</th>
						<th style="position: sticky; top: 0;" scope="col">Country</th>
					<!-- <th style="position: sticky; top: 0;" scope="col">Role</th> -->
						<th style="position: sticky; top: 0;" scope="col">Status</th>
						<th style="position: sticky; top: 0;" scope="col">Role</th>
						<th style="position: sticky; top: 0;" scope="col">#</th>
						<th style="position: sticky; top: 0;" scope="col">#</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="customer : ${customers}">
						<th scope="row" th:text="${customer.idCustomer}"></th>
						<td th:text="${customer.firstName} + ' ' + ${customer.lastName}"></td>
						<td th:text="${customer.account.accountNumber}"></td>
						<!-- <td>Account Number</td> -->
						<td th:text="${#dates.format(customer.birth, 'dd-MM-yyyy')}"></td>
						<td th:text="${customer.Gender}"></td>
						<td th:text="${customer.email}"></td>
						<td th:text="${customer.mobile}"></td>
						<td th:text="${customer.sin}"></td>
						<td th:text="${customer.street}"></td>
						<td th:text="${customer.city}"></td>
						<td th:text="${customer.province}"></td>
						<td th:text="${customer.zip}"></td>
						<td th:text="${customer.country}"></td>
					<!-- <td th:text="${customer.role}"></td> -->
						<td th:text="${customer.status}"></td>
						<td th:text="${customer.role}"></td>
						<td><a th:href="@{/update/}+${customer.idCustomer}">Update</a></td>
						<td><a th:href="@{/delete/}+${customer.idCustomer}">Delete</a></td>
						
						
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<div th:replace="~{fragments/adminHeader :: scripts}"></div>
</body>
</html>